<footer class="py-5 bg-black footer">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Online Gamers Platform</p>
    </div>
    <!-- /.container -->
</footer>
